<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.datasource">java:jdbc/abiDS</property>
    <property name="show_sql">false</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <mapping resource="gov/pr/celepar/abi/hbm/Avaliacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/BemImovel.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Cartorio.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/ClassificacaoBemImovel.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Confrontante.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/CoordenadaUtm.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/DenominacaoImovel.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Documentacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Edificacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/FormaIncorporacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/ItemVistoria.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/ItemVistoriaDominio.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/LeiBemImovel.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Lote.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Notificacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/OcorrenciaDocumentacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Ocupacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Orgao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Quadra.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/SituacaoImovel.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/SituacaoLegalCartorial.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/SituacaoOcupacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/StatusVistoria.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Tabelionato.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/TipoConstrucao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/TipoDocumentacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/TipoEdificacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/TipoLeiBemImovel.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/ParametroVistoria.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/ParametroVistoriaDominio.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/ParametroVistoriaDenominacaoImovel.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Vistoria.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Vistoriador.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/CargoAssinatura.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Assinatura.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/AssinaturaDoacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/AssinaturaTransferencia.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Doacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/ItemDoacao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Transferencia.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/ItemTransferencia.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/StatusTermo.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/ParametroAgenda.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/ParametroAgendaEmail.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/CessaoDeUso.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/ItemCessaoDeUso.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/AssinaturaCessaoDeUso.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Usuario.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/UsuarioOrgao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/GrupoSentinela.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/UsuarioGrupoSentinela.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/Instituicao.hbm.xml"/>
    <mapping resource="gov/pr/celepar/abi/hbm/AssinaturaDocTransferencia.hbm.xml"/>

  </session-factory>
</hibernate-configuration>
