#fadeImg, #fadeImg li {
	padding:0;
	margin:0;
	list-style:none;
}
#fadeImg {
	width:576px;
	height:153px;
	overflow:hidden;
	clear:both;
}
#fadeImg li p, #fadeImg li p a, #fadeImg li p a:visited {
	position:absolute;
	bottom:-9px;
	*bottom:-1px;
	left:0;
	display:block;
	background:url(overlay.png) transparent;
	*background:url(overlay.png) transparent;
	_background:#FFF;
	*filter:none; /* ie7 */
	_filter:alpha(opacity=70); /* ie6 */
	width:556px;
	font:12px Arial, Helvetica;
	color:#FFF;
	padding:10px;
	text-align:center;
}
#fadeImg li p a {	
	color:#FFF;
}
#fadeImg li p a:hover {	
	text-decoration:underline;
}


#nav {
	clear:both;
	padding:5px;
}
#nav a {
	display:block;
	float:left;
}
#nav .numbers a {
	width:5px;
	height:5px;
	overflow:hidden;
	text-indent:-1000px;
	background:#F0F0F0;
	border:1px solid #D4D4D4;
	margin:5px;
}
#nav .numbers a.activeSlide {
	font-weight:bold;
	background:#FFCC33;
	border:1px solid #FF9900;
}
#nav img {
	border:0;
}
img {
	border:none;
}
