/* Definições Padrões Framework */

body {
	background:#FFF;	
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:0;
	margin:0;	
}

a {
	color: #000000;
}

a:hover {
	color: #1E4EE1;
}

a:visited {
	color: #000000;
}


.form_botao{
	font-weight:bold;
	display: block;
/*	width: 150px;
*/	height: 25px;
	margin: 1px;;
   padding: 0 8px 0 8px;
   background: #fff url(../images/back_botao.png) 0 0 no-repeat;	
	text-decoration: none;
	text-align:center;
	display:inline;
}
 
.form_botao:visited{
    color: #00f;
    background-position: 0 -25px; 
}
.form_botao:hover{
    color: #FFF;
    background-position: 0 -77px;
}
.form_botao:active{
    color: #1E4EE1;
    background-position: 0 -51px; 
}

#cabecalho {
	background: url(../images/back_cabec_login.jpg) repeat-x;
	height:120px;
	margin:0;
}

#cabecalho table {
	margin-top:10px;
}

#container { }

#msg {
	border:1px #EFB9C3 solid;
	padding: 7px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align:center;
	margin-bottom:8px;
}

.msg_erro {
	background:#FFC6CA;	
}

.msg_aviso {
	background:#FFCC66;
}

.msg_sucesso {
	background:#66CC66;
}

.msg_descricao {
	color: #333333;  
	font-style:italic;
}

#conteudo {
	margin:0 auto;
	width:100%;
	background: url(images/back_corpo.jpg) repeat-x;	
   text-align:center;
	padding:0 15px 0 15px;
	position:static;
	color: #000000;
	height:800px;
}
	
#conteudo_corpo {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align:center;	
}

.fixo {
	width:760px;
	margin:0 auto;
	background-color:#FCFCFC;
}

.fluido {
	width:100%;
}

#caixa_login {
	width:400px;
	height:220px;
	border:none;
	background:#ECECEC;
}

#login {
	position: relative;
	padding-top:30px;
}

#login td {
	text-align:left;
}

.login_label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;	
}

.login_label a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

.login_funcoes {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align:center;
	margin-top:10px;
}

.login_funcoes a {
	color: #000000;
	font-weight:normal;
}

.login_funcoes a:hover {
	color: #000000;
}

#rodape {
	background-color:#D6D5D5;  
	height:300px;
	display:block;
	width:100%;
	margin-top:20px;
}

.text_rodape {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding:5px 10px;
	line-height:150%;
}


#caixa_login_alternativo {
	width:400px;
	height:220px;
	border:none;
	background:#ECECEC;
}

	
.form_label_version {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 3px;
	font-weight:bold;
	text-align:center;	
}


/* login alternativo */



TABLE.login_alternativo {
	background-color:#ECECEC;
	display:block;
	color:#000;
	width:330px;
	position:absolute;
	top:130px;
	left:50%; margin-left:-170px;
	z-index:15000;
}

TABLE.login_alternativo_interno {
	background-color:#ECECEC;
	color:#000000;
	padding:3px;
	width:100%;
}

TD.login_titulo{
	color:#127246;
	font-weight: bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

TD.login_alternativo_mensagem{
	color:#006599;
	font-weight: bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}


/* fim */

#texto_inicial {
	margin:0 auto;
	padding:0;
	width:750px;
	font-size:13px;
}

#texto_inicial p {
	font-weight:bold;
}

.list-1, .list-2 { }
.list-1 li, .list-2 li {
	list-style-type:none;
	margin:1px 0 0 4px; 
	padding:7px 0 1px 18px; 
	line-height: 110%; 
	background:url('../images/ico_bullet02.gif') no-repeat 6px 12px;
}

.list-2 li {

	background:url('../images/ico_bullet03.gif') no-repeat 6px 13px;
}
.list-1 li a, .list-2 li a {color:#333;}
